body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-size: 120%;
    overflow: hidden;
}

.left {
    float: left;
    position: absolute;
    left: 1vw;
    top: 2vh;
    bottom: 2vh;
    height: auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    width: 14vw;
    padding: 1vw;
    background-color: #fff;
    border-radius: 10px;
}

.left ul{
    list-style-type: none;
    margin: 5px;
    padding: 15px;
    overflow: hidden;
}

.left li{
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.left li:hover{
    border-left: 5px solid #000;
    margin-left: 0px;
}

.left a{
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 10px;
}

.left h2{
    font-size: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
}

.left li#bottom{
    position: absolute;
    bottom: 2vh;
}

li input[type="button"] {
    background: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 100%;
    padding: 0 0 0 10px;
    margin: 0;
}

.right {
    float: right;
    position: absolute;
    right: 1vw;
    top: 2vh;
    bottom: 2vh;
    height: auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    width: 79vw;
    padding: 1vw;
    background-color: #fff;
    border-radius: 10px;
}

div{
    margin: 0;
    padding: 0;
}

div h1{
    margin: 5px;
    padding: 0;
}

div.content {
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.folder, div.file{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 0;
    width: 98%;
    height: 5vh;
    transition: all .2s ease-in-out;
    border-radius: 5px;
}

div.folder:hover, div.file:hover{
    background-color: #ececec;
    transition: all .2s ease-in-out;
}

div.file:hover a.download {
    background-color: #ececec;
}

div.content a.link{
    display: flex;
    position: absolute;
    left: 5vw;
    top: 0;
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    line-height: 5vh;
}

div.content a.link:hover {
    text-decoration: underline;
}

div.content img{
    display: flex;
    position: absolute;
    left: 1vw;
    top: 0;
    width: 5vh;
    height: 5vh;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    object-fit: cover;
}

p.error {
    background-color: rgb(255, 175, 175);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}

a.download{
    color: #000;
    background-color: #fff;
    right: 7.5vh;
    transition: all .2s ease-in-out;
}

a.download:hover {
    color: #fefefe;
    background-color: rgb(163, 255, 134);
    transition: all .2s ease-in-out;
}

a.img{
    display: flex;
    position: absolute;
    top: 0;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 5vh;
    height: 5vh;
    width: 5vh;
    border-radius: 5px;
    z-index: 1;
}

a.delete {
    color: #000;
    background-color: rgb(255, 208, 208);
    right: 1vw;
    transition: all .2s ease-in-out;
}

a.img img{
    height: 3.5vh;
    width: 3.5vh;
    position: relative;
    top: 0.75vh;
    left: 0.75vh;
    margin: 0;
    z-index: 0;
}

a.delete:hover {
    color: #fefefe;
    background-color: rgb(255, 97, 97);
    transition: all .2s ease-in-out;
}

div.file a.download:hover {
    background-color: rgb(163, 255, 134);
}



.hide{
    visibility: hidden;
}

.upload-form{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.upload-form form{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 25vw;
    height: 30vh;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 25px;
}

form h1 {
    text-align: center;
    margin-bottom: 50px;
}

form label {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    color: #353535;
    border-radius: 5px;
    transition: .2s;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background: #353535;
    color: #fefefe;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .2s;
}

form input[type="submit"]:hover {
    background: #000;
    transition: .2s;
}

.cancel{
    width: 100%;
    padding: 10px;
    color: red;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    background: #fff;
    border: 1px solid red;
}